<% if params[:q].present? %>
  <% content_for :title do %>Resultados para "<%= params[:q] %>"<% end %>
<% end %>

<h2>Actas da Câmara Municipal de Coimbra</h2>

<% if params[:q].present? %>

  <h3>
    Resultados para "<%= params[:q] %>"
    <% if @stats['n'] != @stats['nfound'] %>
      <small>apenas os <%= @stats['n'] %> de <%= pluralize(@stats['nfound'], 'resultado') %> mais relevantes são apresentados</small>
    <% else %>
      <small><%= pluralize(@stats['n'], 'resultado') %></small>
    <% end %>
  </h3>

  <% if false and @documents.size > 3 %>
    <%= column_chart count_by_year(@documents), :height => "100px", :library => {:colors => ["#999"], :hAxis => {:textStyle => {:fontSize => 10}}, :vAxis => {:title => 'Actas'}} %>
  <% end %>

  <% if @documents.any? %>
    <dl>
      <% for document in @documents %>
        <dt><%= link_to document.date, "/doc/#{document.id}" %></li>
        <% if params[:q].present? and document.content =~ /#{Regexp.escape(params[:q])}/im %>
          <dd>
            <%= highlight(excerpt(document.content, params[:q], :radius => 150), params[:q]) %>
          </dd>
        <% end %>
      <% end %>
    </dl>
  <% else %>
    <p>Não foi encontrado nenhum documento com esses termos de pesquisa.</p>
  <% end %>

<% else %>

  <ul id="documents-list">
    <% organize(@documents).each do |year, docs| %>
      <li>
        <%= year %>
        <% if docs.any? %>
          <ul>
            <% docs.each do |month, docs| %>
              <li>
                <%= month_name(month) %>
                <% if docs.any? %>
                  <ul>
                    <% docs.each do |doc| %>
                      <li><%= link_to doc.date.day, "/doc/#{doc.id}" %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>

<% end %>
