<% if params[:q].present? %>
  <% content_for :title do %>Resultados para "<%= params[:q] %>"<% end %>
<% end %>

<h2>Actas da Câmara Municipal de Coimbra</h2>

<% if params[:q].present? %>

  <h3>
    Resultados para "<%= params[:q] %>"
    <% if @stats['n'] != @stats['nfound'] %>
      <small>apenas <%= @stats['n'] %> de <%= pluralize(@stats['nfound'], 'resultado') %> mais relevantes são apresentados</small>
    <% else %>
      <small><%= pluralize(@stats['n'], 'resultado') %></small>
    <% end %>
  </h3>

  <% if @all_documents.size > 3 %>
    <%= column_chart count_by_year(@all_documents), :height => "100px", :library => {:colors => ["#999"], :hAxis => {:textStyle => {:fontSize => 10}}, :vAxis => {:title => 'Actas'}} %>
  <% end %>

  <% if @documents.any? %>
    <dl>
      <%= render :partial => 'doc_excerpt', :collection => @documents, :as => :document %>
    </dl>
    <% if @documents.total_pages > 1 %>
      <p class="pagination">
        <%= link_to 'Ver mais', "?page=#{(params[:page]||1)+1}&q=#{params[:q]}", :remote => true, :id => 'load-more-docs', :class => 'btn' %>
      </p>
    <% end %>
  <% else %>
    <p>Não foi encontrado nenhum documento com esses termos de pesquisa.</p>
  <% end %>

<% else %>

  <ul id="documents-list">
    <% organize(@documents).each do |year, docs| %>
      <li>
        <%= year %>
        <% if docs.any? %>
          <ul>
            <% docs.each do |month, docs| %>
              <li>
                <%= month_name(month) %>
                <% if docs.any? %>
                  <ul>
                    <% docs.each do |doc| %>
                      <li><%= link_to doc.date.day, "/doc/#{doc.id}" %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>

<% end %>
