<p id="notice"><%= notice %></p>

<h2><%= @document.date %> <small><%= @document.title %></small></h2>

<%= @document.content_html %>

<p><%= link_to 'Download', @document.source_url %></p>

<p>
  <%= link_to 'Editar', edit_document_path(@document) %> |
  <%= link_to 'Voltar', documents_path %>
</p>
