<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><% if content_for? :title %><%= yield :title %> - <% end %>Actas da Câmara Municipal de Coimbra - Burocracia</title>
  <meta name="description" content="<% if content_for? :description %><%= yield :description %><% else %>Disponibilizar documentos públicos em formato aberto. Começámos com as actas da Câmara Municipal de Coimbra<% end %>">
  <meta name="keywords" content="actas,camara,coimbra,improve,documentos">
  <link rel="shortcut icon" type="image/png" href="<%= image_path 'burocracia.png' %>" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="//www.google.com/jsapi"></script>
  <%= javascript_include_tag 'chartkick' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="page-header">
            <div class="row">
              <div class="col-xs-10 col-sm-11">
                <h1>
                  <a href="/">Burocracia</a>
                </h1>
                <p>
                  Queremos disponibilizar documentos públicos num formato aberto, fácil de pesquisar e analisar.
                </p>
              </div>
              <div class="social col-xs-2 col-sm-1">
                <%= render 'layouts/facebook_like' %>
              </div>
            </div>

            <form action="/search">
              <input type="search" placeholder="Pesquisar documentos" class="form-control input-lg" name="q" value="<%= params[:q] %>" />
            </form>

            <p>
              Exemplos: <a href="/search?q=IKEA">IKEA</a>, <a href="/search?q=Metro Mondego">Metro Mondego</a> e <a href="/search?q=Choupal">Choupal</a>.
            </p>
            <p class="small">
              Os documentos aqui disponíveis foram processados automaticamente e poderão conter imprecisões.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contents" class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>
            <a href="mailto:info@madeincoimbra.org">Feedback</a> | <a href="http://improve.madeincoimbra.org">Made in Improve Coimbra</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <%= render 'layouts/google_analytics' if Rails.env.production? %>

</body>
</html>
