<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><% if content_for? :title %><%= yield :title %> - <% end %>Burocracia</title>
  <meta name="description" content="Disponibilizar documentos públicos em formato aberto. Começámos com as actas da Câmara Municipal de Coimbra">
  <meta name="keywords" content="actas,camara,coimbra,improve,documentos">
  <link rel="shortcut icon" type="image/png" href="<%= image_path 'burocracia.png' %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//www.google.com/jsapi"></script>
  <%= javascript_include_tag "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <div class="page-header">
            <div class="social">
              <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fburocracia.madeincoimbra.org%2F&amp;width=50&amp;height=65&amp;colorscheme=dark&amp;layout=box_count&amp;action=like&amp;show_faces=true&amp;send=false&amp;appId=1412326508983603" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:65px;" allowTransparency="true"></iframe>
            </div>
            <h1>
              <a href="/">Burocracia</a>
            </h1>
            <p>
              Queremos disponibilizar documentos públicos num formato aberto, fácil de pesquisar e analisar.
            </p>
            <form action="/" class="form-search">
              <input type="text" style="width: 100%" placeholder="Pesquisar documentos" class="search-query" name="q" value="<%= params[:q] %>" />
            </form>
            <p>
              Exemplos: <a href="?q=IKEA">IKEA</a>, <a href="?q=Metro Mondego">Metro Mondego</a> e <a href="?q=Choupal">Choupal</a>.
            </p>
            <p class="small">
              Os documentos aqui disponíveis foram processados automaticamente e poderão conter imprecisões.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contents" class="container">
    <div class="row">
      <div class="span10 offset1">
        <%= yield %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>
            <a href="mailto:info@madeincoimbra.org">Feedback</a> | <a href="http://improve.madeincoimbra.org">Made in Improve Coimbra</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42452983-1', 'madeincoimbra.org');
      ga('send', 'pageview');
    </script>
  <% end %>

</body>
</html>
